<div class="container">
<h2>Hello world</h2>


<table class="table table-hover table-sm" style="width:1100px">
  <thead>
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Category</th>
    <th>Phone number</th>
  </thead>
  <tbody>
  <tr>
  <% @restaurants.each do |r| %>
    <td><%=r.id%></td>
    <td><%=r.name%></td>
    <td><%=r.address%></td>
    <td><%=r.category%></td>
    <td><%=r.phone_number%></td>
  </tr>
  </tbody>
  <%end%>
</table>
</div>
